@model IEnumerable<aspnet_tthk.Models.Party>

@{
    ViewBag.Title = "Party";
}

<h2>Party</h2>

<p>
    @Html.ActionLink("Uus peo", "CreateParty")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Peonimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuupaev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Peonimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuupaev)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
